body {
	margin: 0;
	padding: 10px;
}
.grid-container {
    width: 100%;
 }
.row:before,
.row:after {
    content: "";
    display: table ;
    clear: both;
}
.content {
	height: 50px;
	box-sizing: border-box;
	border: 1px solid #999;
	background-color: #eee;
}
[class*="col-"] {
    float: left;
    min-height: 1px;
    box-sizing: border-box;
    padding: 10px;
}
@media only screen and (min-width:769px){
    .col-md-1 {
	width: 8.33%;
	}
	.col-md-2 {
		width: 16.66%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33.33%;
	}
	.col-md-5 {
		width: 41.66%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-8 {
		width: 66.66%;
	}
}
@media only screen and (max-width:768px){
	.col-sm-2 {
		width: 16.66%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-8 {
		width: 66.66%;
	}
	.col-sm-12 {
		width: 100%;
	}
}